:root {
  --hue: 204;
  --saturation: 100%;
  --lightness: 30%;
}

.bg-accent {
  --hue: 120;
}

.test {
  background: hsl(var(--hue) var(--saturation) var(--lightness) / .95);
}

.profile-position {
  --lightness: 80%;
  --saturation: 70%;
  color: hsl(var(--hue) var(--saturation) var(--lightness) / .95);
}