@import "mixins.scss";

.l-header {
  width: 100%;
  margin-inline: auto;
  padding-block: .5rem;

  @include flex-container-x;
}

.l-header__logo {
  margin-left: 1.5rem;
  margin-top: .5rem;
  width: 42px;
  transform: scaleX(-1);
}

.l-header__nav {
  margin-right: 1.5rem;
  @include flex-container-x;
}




.l-main {
  // max-width: 800px;
  width: min(100% - 2rem, 50rem);
  /*800px */
  width: min(100% - 2rem, 75rem);
  /*1200px */
  margin-inline: auto;
  padding: 1.5rem 0.5rem 5rem;

}

.l-footer {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  padding: 1rem 0;
}

.blog-container {
  border: 1px solid yellow;

}

.blog-post {
  @include flex-container-x;
}

.blog-post-box {
  flex: 0 0 30%;
}

/* sticky footer */

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  /* damit erstreckt sich main ueber die gesamte verfuegbare hoehe */
}

/* sticky footer */