nav {

  ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
  }

  li {
    padding-left: 1.3rem;
    list-style-type: none;

    a:hover {
      color: green;
      text-decoration: underline;
    }

    a:link,
    a:visited {
      color: #666;
      text-decoration: none;
    }

    a.active {
      color: yellow;
      text-decoration: underline;
    }
  }
}