@media screen and (max-width:720px) {

  /* Zusätzliche Regeln für kleinere Monitore  */

  @mixin flex-container-y {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .blog-post {
    @include flex-container-y;
    row-gap: 3rem;
  }
}

@media screen and (max-width:450px) {

  /* Zusätzliche Regeln noch kleinere Monitore  */
  body {
    line-height: 1.2
  }
}