---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Astro-NKS-Starter">
  <main>
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sit
      cupiditate voluptatem perspiciatis nulla culpa illum non beatae? Animi
      exercitationem, rerum eos corporis repudiandae asperiores distinctio
      voluptate ipsa, laudantium tenetur eveniet? Iste consequuntur vel
      necessitatibus porro odit, labore, expedita culpa velit voluptate nam
      magni?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, tenetur
      reprehenderit commodi quasi nihil temporibus ut.
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque esse
      tenetur error, vitae quis eos velit quibusdam explicabo? Illo blanditiis
      velit consequuntur commodi sed maxime quos eum iusto harum, omnis suscipit
      numquam similique maiores, quasi, consequatur architecto? Quibusdam nemo
      cumque aperiam sint nisi, blanditiis perspiciatis error dolore itaque.
    </p>
  </main>
</Layout>
