---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Astro-NKS-Starter">
  <main>
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sit
      cupiditate voluptatem perspiciatis nulla culpa illum non beatae? Animi
      exercitationem, rerum eos corporis repudiandae asperiores distinctio
      voluptate ipsa, laudantium tenetur eveniet? Iste consequuntur vel
      necessitatibus porro odit, labore, expedita culpa velit voluptate nam
      magni?
    </p>

    <div class="test">
      <h2>card</h2>
      <div class="profile-position">
        Iste consequuntur vel necessitatibus porro odit, labore, expedita culpa
        velit voluptate nam magni?
      </div>

      <div class="bg-accent">
        laudantium tenetur eveniet? Iste consequuntur vel necessitatibus porro
      </div>
    </div>
  </main>
</Layout>
