---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - Astro-NKS-Starter">
  <main>
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iste
      repellendus tempore vero incidunt provident suscipit, magni, vitae
      temporibus rem dolore ipsam, ducimus aliquid!
    </p>


    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eligendi
      voluptatibus explicabo sed aut ipsum architecto. Adipisci natus ipsa, quas
      animi vero est sed reprehenderit voluptates consectetur corrupti deleniti
      pariatur itaque aperiam possimus amet. Velit ex, officia neque cum autem
      animi similique inventore nemo laudantium id maxime ratione perferendis,
      tempora corporis? Magni doloremque numquam dicta, ab sunt dignissimos
      asperiores vero? Nobis quisquam libero quidem similique sit repellendus
      hic.
    </p>
  </main>
</Layout>

<style>
  dialog {
    border: 10px solid aqua;
  }

  :modal {
    border-style: dotted;
    border-color: fuchsia;
    padding: 4rem;
  }
</style>
